body {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-100 {
    margin-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.purple {
    color: #4e4e82;
}

.white {
    color: #ffffff;
}

.gray {
    color: #98999a;
}

.orange {
    color: #ff8c4a;
}

.bg-light {
    background-color: #ffffff;
}

.fw-500 {
    font-weight: 500;
}

.fw-450 {
    font-weight: 450;
}

.banner-title {
    font-size: 40px;
    line-height: 60px;
}


a {
  color: #FF8C4A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4E4C82;
}

.bg-primary {
  background-color: #fff !important;
}

.bg-dark {
  background-color: #072735;
}

.nav-link {
  color: #4E4C82;
}


.nav-bg {
    height: 100px;
    background-repeat: repeat-y;
    background-image: url(../img/svg/elipse_header.svg);
    background-position: 0% 100%;
}

.nav-link {
    font-size: 20px;
    font-weight:400;
    color: #4E4C82 !important;
}

.nav-link::before {
    position: relative;
    content: "+";
    color: #4E4C82;
    margin-right: 7px;
    margin-bottom: 20px;
    bottom: 2px;
}

.card {
    box-shadow: 0px 0px 45px rgba(202, 209, 221, 0.47);
    border-radius: 20px;
}

.card-title {
    font-size: 18px;
}

.card-text {
    font-size: 16px;
    line-height: 25px;
}

.card-link {
    font-weight: 400;
    font-size: 16px;
}

.card-link::after {
    position: relative;
    content: ">";
    color: #FF8C4A;
    margin-left: 5px;
    margin-bottom: 0px;
    bottom: 2px;
}

.card-with-image {
    position: relative;
}

.card-image {
    position: absolute;
    top: -174px;
    right: -15px;
    z-index: 2;
}

.service-title {
    font-weight: 450;
    font-size: 24px;
}

.service-subtitle {
    font-weight: 500;
    font-size: 22px;
}

ol li {
    line-height: 40px;
}

.btn-ref {
    font-weight: 500;
    font-size: 18px;
    color: #FF8C4A;
}

.btn-order {
    color: #4E4C82;
    font-weight: 500;
    font-size: 18px;
}

footer {
    background: #34334B;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hashtag {
    font-size: 30px;
    line-height: 36px;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}

.hashtag-p {
    position:relative;
}

.ball {
    position: absolute;
    z-index: 2;
    bottom: -60px;
    right: 50%;
}

.footer-bottom {
    height: 100px;
    background-repeat: no-repeat;
    background-image: url(../img/svg/ellipse_footer.svg);
    background-position: 100% 150%;
}


