body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
}


.mt-50 {
    margin-top: 50px;
}


.mt-40 {
    margin-top: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-100 {
    margin-top: 100px;
}

.pb-100 {
        padding-bottom: 100px;
    }



.purple {
    color: #4e4e82;
}

.white {
    color: #ffffff;
}

.gray {
    color: #98999a;
}

.orange {
    color: #ff8c4a;
}

.bg-light {
    background-color: #ffffff;
}

.fw-500 {
    font-weight: 500;
}

.fw-450 {
    font-weight: 450;
}

.banner-title {
    font-size : 35px;
    line-height: 45px;
}

@media (min-width: 576px) { 
    .banner-title {
        font-size : 40px;
        line-height: 60px;
    }
 }

 #banner {
     margin-top: 30px;
 }

 @media (min-width: 1024px) { 
    #banner {
        margin-top: 0px;
    }
 }



a {
  color: #FF8C4A;
}

a:hover {
    color: #FF8C4A;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4E4C82;
}


.navbar-nav,
.navbar {
    background: #fff;
}

@media (min-width: 992px) { 
    .navbar {
        background: transparent;
    }

    .navbar-nav {
        background: rgba(255, 255, 255, 0.9);
    }
}

.bg-primary {
  background-color: #fff !important;
}

.bg-dark {
  background-color: #072735;
}

.nav-link {
  color: #4E4C82;
}



.nav-link:hover {
    font-weight: 600;
}

@media (min-width: 992px) { 
    .nav-bg {
        height: 100px;
        background-repeat: no-repeat;
        background-image: url(../img/svg/elipse_header.svg);
        background-position: 0% 100%;
    }
}

.nav-link {
    font-size: 20px;
    font-weight:400;
    color: #4E4C82 !important;
}

.nav-link::before {
    position: relative;
    content: "+";
    color: #4E4C82;
    margin-right: 7px;
    margin-bottom: 20px;
    bottom: 0px;
}


.card {
    box-shadow: 0px 0px 45px rgba(202, 209, 221, 0.47);
    border-radius: 20px;
}

.card-title {
    font-size: 18px;
}

.card-text {
    font-size: 16px;
    line-height: 25px;
}

.card-link {
    font-weight: 400;
    font-size: 16px;
}

.card-body h6 {
    line-height: 20px;;
}

.card-link::after {
    position: relative;
    content: ">";
    color: #FF8C4A;
    margin-left: 5px;
    margin-bottom: 0px;
    bottom: 0px;
}

.card-with-image {
    position: relative;
}

.card-image {
    position: absolute;
    top: -174px;
    right: 10px;
    z-index: 2;
}

@media (min-width: 992px) {
    .card-image {
        right: -35px;
    }
}

.card-first {
    width: 90%;
    white-space: break-spaces;
}

.service-title {
    font-weight: 450;
    font-size: 22px;
    text-align: center;
    line-height: 30px;
}


@media (min-width: 576px) {
    .service-title {
        font-weight: 450;
        font-size: 24px;
        text-align: left;
    }
 }


.service-subtitle {
    line-height: 30px;
    font-size: 22px;
    text-align: center;
}

@media (min-width: 576px) { 
    .service-subtitle {
        font-weight: 500;
        font-size: 22px;
    }
}

@media (min-width: 992px) { 
    .service-subtitle {
        text-align: left;
    }
}

.service-subtitle-block {
    font-weight: 100;
    font-size: 35px;
    line-height: 42px;
    align-items: center;
}

.service-subtitle-block::before {
    position: relative;
    content: url(../img/svg/notes.svg);
    display: inline-flex;
    margin-right: 20px;
    height: auto;
}

ol li {
    line-height: 40px;
}

.btn-ref {
    font-weight: 500;
    font-size: 18px;
    color: #FF8C4A;
}

.btn-reservate {
    text-align: left;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #4E4C82;
    white-space: pre-line;
    cursor: pointer;
}

.btn-reservate:hover {
    color: #FF8C4A;
}

@media (min-width: 992px) { 
    .btn-reservate {
        font-weight: 500;
        font-size: 35px;
        line-height: 42px;
        text-align: center;
        color: #4E4C82;
    }
}

.btn-reservate::after {
    position: relative;
    content: ">";
    color: #4E4C82;
    margin-left: 5px;
    margin-bottom: 0px;
    bottom: -1px;
}

.btn-reservate:hover::after {
    position: relative;
    content: ">";
    color: #FF8C4A;
    margin-left: 5px;
    margin-bottom: 0px;
    bottom: -1px;
}

.mb-2 a {
    color: rgba(255, 255, 255, 0.5);
}

.mb-2 a:hover {
    color: #FF8C4A;
}

.service-subtitle::before {
    position: relative;
    content: ">_";
    color: #4E4C82;
    margin-left: 0px;
    margin-bottom: 0px;
    bottom: 3px;
    margin-right: 6px;
}

.reservate-block {
    margin-top: 20px;
    margin-bottom: 40px;
}

@media (min-width: 992px) { 
    .reservate-block {
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
        bottom: 5%;
    }
}

.btn-order {
    color: #4E4C82;
    font-weight: 500;
    font-size: 18px;
}

footer {
    background: #34334B;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    margin-top: 80px;
}

.hashtag {
    font-size: 22px;
    line-height: 36px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}

@media (min-width: 992px) { 
    .hashtag {
        text-align: right;
    }

}

.hashtag-p {
    position:relative;
}

.ball {
    position: absolute;
    z-index: 2;
    bottom: -18px;
    right: 55px;
}

.card-5 {
    margin-bottom: 3rem;
}

@media (min-width: 992px) {

    .card-5 {
        margin-bottom: 0px;
    }
}

.footer-bottom {
    height: auto;
    background-repeat: no-repeat;
    background-image: url(../img/svg/ellipse_footer.svg);
    background-position: 100% 125%;
}

.copy {
    font-size: 16px;
}

.footer-h {
    height: 80px;
}

.who {
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .who {
        margin-top: 150px;
    }
}

@media (min-width: 992px) { 
    .who {
        margin-top: 200px;
    }
 }

 @media (min-width: 1366px) { 
    .who {
        margin-top: 80px;
    }
 }

.banner .container-fluid {
        padding-right: 3rem!important;
}

.carousel-control-next {
    justify-content: flex-end;
    right: 15px;
}

.carousel-control-prev {
    justify-content: flex-start;
    left: 15px;
}

@media (min-width: 992px) { 
    .banner .container-fluid {
        padding-right: 0rem!important;
    }
}

@media (min-width: 992px) { 
    .banner .container-fluid {
        padding-right: 0rem!important;
    }
}

.why-section {
    margin-top: 30px;
}

@media (min-width: 768px) { 
    .why-section {
        margin-top: none;
    }
}
.why-image {
    display: flex;
    align-self: center;
    margin: auto;
}

.footer-item {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .footer-item {
        margin-top: 0px;
    }
}

@media (min-width: 768px) {
    .references {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

.carousel-inner {
    overflow: visible;  
}

@media (min-width: 768px) {

    .slide-box {
        box-shadow: 0px 0px 45px #CAD1DD;
        border-radius: 20px; 
        height: auto;
        min-height: 345px;
        padding-bottom: 50px;
    }
}

@media (min-width: 992px) {

    .slide-box {
        min-height: 380px;
    }
}

.slide-box1 {
    background-repeat: no-repeat;
    background-image: url(../img/slide1.png);
    background-position: top center;
    background-size: cover;
}

.slide-box2 {
    background-repeat: no-repeat;
    background-image: url(../img/slide2.png);
    background-position: center center;
    background-size: cover;
}

.slide-box3 {
    background-repeat: no-repeat;
    background-image: url(../img/slide3.png);
    background-position: bottom center;
    background-size: cover;
}

.carousel-caption {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    color: #fff;
    text-align: left;
    top: 0px;
    margin-top: 35px;
}

@media (min-width: 768px) { 
    .carousel-title {
        font-size: 40px;
        line-height: normal;
        color: #fff;
        font-weight: 450;
    }
}

@media (min-width: 1025px) { 
    .carousel-title {
        line-height: 61px;
    }
}

.carousel-desc {
    font-size: 16px;
}

.carousel-tags {
    font-size: 14px;
    font-weight: 600;
}

.carousel-tag-item::before {
    position: relative;
    content: "+";
    color: #ffffff;
    margin-right: 4px;
    margin-bottom: 20px;
    bottom: 0px;
    font-size: 14px;
}

.btn-study {
    background-color: transparent;
    margin-top: 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 200;
}

.btn {
    letter-spacing: 2px;
}

.btn-study::after {
    position: relative;
    content: ">";
    color: #fff;
    margin-left: 5px;
    margin-bottom: 0px;
    bottom: 2px;
}

.card-body h6::after {
    position: relative;
    content: ">";
    color: #4E4C82;
    margin-left: 5px;
    margin-bottom: 0px;
    bottom: -1px;
}

.card-link:hover,
.card-body h6:hover  {
    font-weight: 600;
}

.card-block {
    cursor: pointer;
}

@media (min-width: 768px) { 
    .carousel-image {
        display: none;
    }
}

@media (min-width: 1024px) { 
    .carousel-image {
        display: block;
        position: absolute;
        z-index: 10;
        top: -57px;
        right: 0;
        padding-right: 62px;
        width: auto;
        height: 488px;
    }
}

@media (min-width: 1025px) { 
    .carousel-image {
        top: -55px;
        width: auto;
        height: 488px;
    }
}

@media (min-width: 768px) { 
    #slider {
        margin-top: 30px;
        margin-bottom: 20px;
    
}


@media (min-width: 1024px) { 
    #slider {
        margin-top: 130px;
        margin-bottom: 120px;
    
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity ease-out .7s;
  }
  
  .carousel-fade .carousel-item.active,
  .carousel-fade .carousel-item-next.carousel-item-left,
  .carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
  }
  
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    opacity: 0;
  }
  
  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item.active,
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
  }


 